@import "common";


.section{
  padding-bottom: 50px;
  padding-top: 35px;
  h3{
    margin-top:0;
  }
}
#intro{
  .section {padding-bottom:15px;}
  h1 {margin-top:0;}
  color:white;
  font-size:20px;
  background-image: linear-gradient(to bottom,$blue 0,$light-blue 100%)
}
#chart-container{
  background-image: linear-gradient(to bottom,$light-blue 0,white 100%)
}
#how-to{

}
