@import "~material-components-web/dist/material-components-web.css";

/* Ensure layout covers the entire screen. */
html {
  height: 100%;
}

/* Place drawer and content side by side. */
.competence-body {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

$menu-width:350px;
$menu-width-for-smaller-screens: 250px;
/* Stack toolbar and main on top of each other. */
#competence-breakdown {
  display: inline-flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  box-sizing: border-box;

  &.open{
    & > * {
      border-left: 1px solid rgba(0, 0, 0, 0.12);
    }
  }
}

.competence-main {
  padding: 80px;
  flex: 1;
  width: 100%;
  box-sizing: border-box;
}
@media (min-width: 600px) {
  .mdc-persistent-drawer__toolbar-spacer {
    height: 56px;
  }
}

.mdc-persistent-drawer a
{
  text-decoration: none;
}

.mdc-persistent-drawer--open, .mdc-persistent-drawer__drawer {
  min-width: $menu-width;
  border-right:0;
  height:99.5%;
  @media (max-width: 600px) {
    min-width:$menu-width-for-smaller-screens;
  }
}

.competences-nav {
  min-height: 100vh; //100% of the height of the viewport
}

#competences-chart-container {
  height: 450px;
}
