@import "~material-components-web/dist/material-components-web.css";

/* Ensure layout covers the entire screen. */
html {
  height: 100%;
}

/* Place drawer and content side by side. */
.competence-body {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

$menu-width:350px;
/* Stack toolbar and main on top of each other. */
#competence-breakdown {
  display: inline-flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  box-sizing: border-box;

  &.open{
    padding-left:$menu-width;
  }
}

.competence-main {
  padding: 80px;
  flex: 1;
  width: 100%;
  box-sizing: border-box;
}
@media (min-width: 600px) {
  .mdc-persistent-drawer__toolbar-spacer {
    height: 56px;
  }
}

.mdc-persistent-drawer
{
  position:fixed;
  height:100%;
}
.mdc-persistent-drawer a
{
  text-decoration: none;
}

.mdc-persistent-drawer--open, .mdc-persistent-drawer__drawer {
  min-width: $menu-width;
}
.mdc-persistent-drawer__drawer{
  overflow-y: scroll;
  overflow-x: hidden;
}


.competences-nav {
  min-height: 100vh; //100% of the height of the viewport
}

#competences-chart-container {
  height: 450px;
}
