$crimson: #cf6766;
$blue: #30415d;
$dark-blue: #031424;
$light-blue: #8eaebd;

$resourcesColor:#cf6766;
$introActionColor: #30415d;
$ideasAndOpportunitiesColor:#031424;
$chartFontColor:#fff;

:export {
  resourcesColor:$resourcesColor;
  introActionColor: $introActionColor;
  ideasAndOpportunitiesColor:$ideasAndOpportunitiesColor;
  chartFontColor:$chartFontColor;
}
